<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign in page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
<body>
<div class="container">

    <form class="form-horizontal">
        <h1 style="text-align: center">Please sign in</h1>

        <div class="control-group">
            <label class="control-label" for="username">Email</label>
            <div class="controls">
                <input type="text" id="username" name="username" class="input-block-level" placeholder="username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" class="input-block-level" placeholder="password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="rememberme" name="rememberme" value="remember-me"> Remember me
                </label>

                <button name="signIn" class="btn btn-primary" type="submit">Sign in</button>
            </div>
    </form>

</div>
<!-- /container -->

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
